<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Abril+Fatface' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <title>Ekta - Indian Student's Association at UMBC</title>


    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/scrolling-nav.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Angular JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
    <script type="text/javascript" src = "js/controller.js"></script>
</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" ng-app="ekta">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Ekta @ UMBC</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">Travel and Arrival </a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Housing</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Other Information</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="https://www.facebook.com/groups/umbcfall2011/"><i class="fa fa-facebook fa-2x"></i></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="mailto:ekta@umbc.edu"><i class="fa fa-envelope-o fa-2x"></i></a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Section -->
    <section id="intro" class="intro-section">
        <div class="container">
            <div class="row">
            <div>
                <div class="col-lg-12" style="border-radius : 20px ; margin-top : 25px; background-color:rgba(255, 255, 255, 0.35);">
                	<span>
	                    <h1 style = "font-color:black; font-family: 'Abril Fatface', cursive;">Ekta : Indian Students Association </h1>
	                    <p><strong>EKTA is a non-profit socio-cultural association within the Graduate Student Association at the University of Maryland, Baltimore County.EKTA aims to facilitate interaction among students of UMBC, and to promote intercultural understanding among Indian and non-Indian students .This page is meant to be a primer for new incoming students</strong></p></br>
	                    <a href="#about"><i class="fa fa-chevron-down fa-5x"></i></a>
	                </span>
                </div>    
            </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="about" class="about-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <center>
                        <h1><i class="fa fa-plane"></i> Travel and Arrival</h1>
                        <p><strong> <a href = "http://en.wikipedia.org/wiki/Baltimore-Washington_International_Airport">BWI</a>, <a href = "http://en.wikipedia.org/wiki/Washington_Dulles_International_Airport">IAD</a> and <a href = "http://en.wikipedia.org/wiki/Ronald_Reagan_Washington_National_Airport">DCA</a> are the closest airports to UMBC </strong></p>
                        <h3>EKTA provides pickups from the BWI Airport Only</h3>
                        <p><strong> If you are arriving at IAD / DCA, you can get a cab or use <a href = "https://www.supershuttle.com/">Supershutle</a>
                        </br>   
                    <h3>Luggage Information</h3>
                    <center><span id = "warntwo">Emitrates : 2 * 23KG + 1 * 7KG</span></center>
                    <center><span id = "warntwo">British : 3 * 23KG + 1 * 7KG</span></center>
                    <center><span id = "warntwo">Lufthansa : 2 * 23KG + 1 * 7KG</span></center>
              <center>
                  <div id = "warnone">
                    <div class="row">
          					  <div class="col-xs-3 col-md-4"><h3>Airline</h3></div>
          					  <div class="col-xs-3 col-md-4"><h3>Check In</h3></div>
          					  <div class="col-xs-3 col-md-4"><h3>Cabin Bag</h3></div>
          					</div>  
          					<div class="row">
          					  <div class="col-xs-3 col-md-4">Emirates</div>
          					  <div class="col-xs-3 col-md-4">2 * 23 Kg</div>
          					  <div class="col-xs-3 col-md-4">1 * 7 Kg</div>
          					</div>  
          					<div class="row">
          					  <div class="col-xs-3 col-md-4">British Airways</div>
          					  <div class="col-xs-3 col-md-4">3 * 23 Kg</div>
          					  <div class="col-xs-3 col-md-4">1 * 7 Kg</div>
          					</div>  
          					<div class="row">
          					  <div class="col-xs-6 col-md-4">Lufthansa</div>
          					  <div class="col-xs-6 col-md-4">2 * 23 Kg</div>
          					  <div class="col-xs-6 col-md-4">1 * 7 Kg</div>
          					</div>
                   </div>   
                </center>    
                <p id = "warnone"><strong>According to Customs rule, an individual is allowed to carry not more than $ 10000 with him/her while travelling to USA.
Out of the allowed $ 10000, the individual may carry not more than $ 3000 as cash and the rest $ 7000 in the form of TCs or Forex Card.</strong> </p>  
                <div id = "warnone"class="alert alert-danger" role="alert" style = "text-align:center"><a href = "http://www.tsa.gov/press/releases/2014/07/06/enhanced-security-measures-certain-airports-overseas">According to new regulations, all electronic devices in your cabin bag have to be charged and operational before boarding a flight to the United States</a></div>
                </div>
            </div>
        </div>
    </section>

    <!-- Services Section -->
    <section id="services" class="services-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1><i class="fa fa-home"></i> Housing Information</h1>
                     <p><strong>Most of us live around <a href = "https://www.google.com/maps/place/Westland+Gardens+Apartments/@39.260604,-76.698511,17z/data=!3m1!4b1!4m2!3m1!1s0x89c81c5194ae21fd:0xbce08f3f7e5460ac">Westland Garden Apartments</a>.</p><p> EKTA helps you find and lease houses, please keep an eye out for the housing forms on our <a href = "https://www.facebook.com/groups/umbcfall2011/">Facebook Group</a></strong></p>
                     </br>
                     <h3>Cost Estimates : Off Campus Housing</h3>
                     <span id = "warntwo" style = "text-align:center;"> Rent + Utilities ~ $1300 / month </span>
                     <center>
                        <div class="row" id = "warnone">
                          <div class="col-xs-6 col-md-4"> ~ $1050/month (Rent) </div>
                          <div class="col-xs-6 col-md-4"> ~ $120/month (Utilities)</div>
                          <div class="col-xs-6 col-md-4"> ~ $50/month (Internet)</div>
                        </div>
					           </center> 
                </div>
                <p>For more information about on campus housing, <a href = "http://www.umbc.edu/reslife/">click here.</a></p>
                <br>
                <p>EKTA  provides temporary housing when you arrive in Baltimore for a limited time. </p><p>Information about temporary housing will also be available on our facebook group. </p>           
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Other Information</h1>
                        <ul id="myTab" class="nav nav-tabs">
       <li class="active">
          <a href="#home" data-toggle="tab">
             RA / TA
          </a>
       </li>
       <li><a href="#jobs" data-toggle="tab">Campus Jobs</a></li>
       <li><a href="#imm" data-toggle="tab">Immunization</a></li>
       <li><a href="#banking" data-toggle="tab">Banking</a></li>
       <li><a href="#grocery" data-toggle="tab">Grocery</a></li>
       <li><a href="#packing" data-toggle="tab">Packing</a></li>
       <li><a href="#util" data-toggle="tab">Utilities</a></li>
      <li><a href="#register" data-toggle="tab">Register for Courses</a></li>
      <li><a href="#wire" data-toggle="tab">Wire Transfer</a></li>
      <li><a href="#insurance" data-toggle="tab">Health Insurance</a></li>
    <!--<li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">Textbooks <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a data-toggle="tab" href="#dropdown1">Computer Science</a></li>
                <li><a data-toggle="tab" href="#dropdown2">Information Systems</a></li>
                <li><a data-toggle="tab" href="#dropdown3">Electrical Engineering</a></li>
                <li><a data-toggle="tab" href="#dropdown4">Mechanical Engineering</a></li>
                <li><a data-toggle="tab" href="#dropdown5">Human Centered Computing</a></li>
                <li><a data-toggle="tab" href="#dropdown6">Engineering Management</a></li>
                <li><a data-toggle="tab" href="#dropdown6">Computer Engineering</a></li>
                <li><a data-toggle="tab" href="#dropdown7">Chemical Engineering</a></li>
                <li><a data-toggle="tab" href="#dropdown8">Biology</a></li>
                <li><a data-toggle="tab" href="#dropdown9">Physics</a></li>
                <li><a data-toggle="tab" href="#dropdown10">Math</a></li>
            </ul>
    </li>
    -->
    </ul>
    <div id="myTabContent" class="tab-content">
       <div class="tab-pane fade in active" id="home">
          <p style="text-align:left;">
            There are several opportunities with active research being pursued in many STEM Fields. Getting a TA / RA in Computer Science should not be a very difficult ask. <strong>Assistantship opportunities in IS are unlikely</strong>. Jobs like graders are readlily available.  The best way to go about RA opportunities is to present yourself well, be clear about your research interests and have a casual discussion with the Professor. The Professors do not have enough time to read your long mails. A concise mail with your research interests and an appointment to have a discussion should suffice.
          </p>
       </div>
       <div class="tab-pane fade" id="jobs">
          <p style="text-align:left;">A lot of students work Campus Jobs. Several jobs are available in the library, food courts, reception desks, residential life and several other places. Be sure to have your resume approved from Career Services before you apply for on campus jobs. Students on an F1 Visa are allowed to work 20 hours a week on campus.References from seniors can improve your chances of securing the job.</p>
       </div>
       <div class="tab-pane fade" id="imm">
          <p style="text-align:left;">Most recent information about UMBC's immunization requirements can be found on the <a href = "http://www.umbc.edu/uhs/services/immunizations.php"> University Health Services Page</a> 
          </p>
          </br>
          <ul>
            <li><p style = "text-align:left;"> For MMR, Hepatitis B, Chicken Pox etc. if you have already taken the required vaccination, you will need to submit a copy of the original records or a blood test reporting you are immunized against these specific conditions.</p></li>
             <li><p style = "text-align:left;"> In case you are not sure whether you have completed the dosage, the best course of action would be to just take the vaccinations now.</p></li>
              <li><p style = "text-align:left;">Please carry a letter from your doctor certifying that you have recieved vaccinations in India.</p></li>
          </ul>  
       </div>
       <div class="tab-pane fade" id="insurance">
          <p style="text-align:left;">
            UMBC offers the AETNA health plan. This costs you about $900 a semester. Health Insurance is paid by the University for students who have a TA / RA. However, you still have a $200 deductible and $10 co-pay. To understand how health insurance works, watch the <a href = "https://www.youtube.com/watch?v=sBxLmKBqa60">video</a>. 
            
          </p>    
       </div>
       <div class="tab-pane fade" id="banking">
          <p style="text-align:left;">
                <ul>
                    <li>
                        <a  href = "https://bankofamerica.com"><p style= "text-align:left;" >Bank of America</p></a>
                        <span style="text-align:left";>
                            Opening an account here is advisable because it is spread all over US . You will find lot of Bank of America ATMs in every state. Also it is very easy to transfer money from your account to your friend's account through online banking.  You need your Passport, I20, UMBC Id and your University Admit letter to open an account here. You will get a temporary card when you open an account and the permanent card will be shipped to your address within a week.
                        </span>
                    </li>

                    <li>
                        <a style = "text-align : left;" href = "https://pnc.com"><p style= "text-align:left;" >PNC Bank</p></a>
                        <span style="text-align:left";>
                            This bank is located on campus. There are three PNC bank ATMs on campus. Transfering money from PNC to other banks takes time. However, the bank usually offers a 75$ credit on your first direct deposit. A lot of people use this bank for their University Payrolls. 
                        </span>
                    </li>
                </ul>
          </p>  
       </div>
       <div class="tab-pane fade" id="packing">
            <p style="text-align:left;">
             Please check this <a href = "https://www.facebook.com/notes/the-indians-umbc/check-list/244268535592011">list</a> compiled over the years by members of the community.
            </p>
       </div>
       <div class="tab-pane fade" id="wire">
            <p style="text-align:left;">
             How to pay fees via <a href = "http://sbs.umbc.edu/files/2012/12/InternationalWiresFlyer.pdf"> wire transfer</a>. ****This information might be outdated.
            </p>
       </div>
       <div class="tab-pane fade" id="util">
            <ul>
                <li>
                    <p style="text-align:left;">BGE (800) 685-0123. Make sure you call them as soon as you reach to set up an electric connection for your new house. This usually takes about 1 day</p>
                 </li>
                 <li>  
                    <p style="text-align:left"><a href = "https://comcast.com">Comcast</a></p>
                </li>
            </ul>
       </div>    
       <div class="tab-pane fade" id="register">
            <p style="text-align:left;">
             How to <a href = "https://www.facebook.com/download/preview/164811870359323">register</a> for courses at UMBC.
            </p>
       </div>
       <div class="tab-pane fade" id="grocery">
         <ul>
             <li>
                 <a href = "https://www.google.com/maps/place/Patel+Brothers/@39.286492,-76.761086,17z/data=!3m1!4b1!4m2!3m1!1s0x89c81ec076aa1e1f:0x969c6e1c80db8bbc"><p style = "text-align: left;">Patel Brothers</p></a>

             </li>
             <li>
                 <a href = "https://www.google.com/maps/search/walmart/@39.286492,-76.761086,13z/data=!3m1!4b1"><p style = "text-align: left;">Walmart</p></a>
                 
             </li>
         </ul>
       </div>
       <div class="tab-pane fade" id="dropdown1" ng-controller="CsCtrl">

          <table class="table table-striped" > 
            <tr>
              <th style = "text-align:center;">
                  Text Book
              </th>
              <th style = "text-align:center;">
                  Course Name
              </th>
              <th style = "text-align:center;">
                  Author
              </th>
            </tr>
            <tr ng-repeat="course in courses">
              <td>
                {{course.name}}
              </td>
              <td>
                {{course.code}}
              </td>
              <td>
                {{course.}}
              </td>
            </tr>
          </table>
          <!--<div>  
             <div class="row">
              <div class="col-md-4"><h3>Text Book </h3></div>
              <div class="col-md-4"><h3> Course </h3></div>
              <div class="col-md-4"><h3> Author </h3></div>
            </div>
            <div ng-repeat="course in courses" style = "padding-top:20px;">  
              <div class="row" "padding-top:20px;">
                <div class="col-md-4">{{course.name}}</div>
                <div class="col-md-4">{{course.code}}</div>
                <div class="col-md-4">{{course.author}}</div>
              </div>
            </div>
          </div>
       </div>
       -->
       
</div>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/scrolling-nav.js"></script>

</body>

</html>
